<%= render 'layouts/sidebar' %>
<div class="dashboardd col-sm-10 row wrapppper">
	<h1 class="page-title">Welcome back, <%= current_user.firstname %></h1>

	<div class="level dash-block level-<%= current_user.level %>">
		<h2>Experience level</h2>
		<div class="level-progress"></div>
		<ul>
			<li><span class="circle"></span><span class="text">Noobie</span></li>
			<li><span class="circle"></span><span class="text">User</span></li>
			<li><span class="circle"></span><span class="text">Power-User</span></li>
			<li><span class="circle"></span><span class="text">Expert</span></li>
		</ul>
	</div>

	<div class="account dash-block">
		<h2>Account: </h2>
	</div>

	<div class="notifications dash-block">
		<h2>Notifications: </h2>

	</div>

	<div class="visit-offers dash-block col-sm-12">
		<h2>Visit offers: </h2>
	</div>

	<div class="reports dash-block col-sm-12">
		<h2>Your last reports: </h2>
	</div>

	<div class="reviews dash-block col-sm-12">
		<h2>Your last reviews: </h2>
	</div>
</div>