.dashboardd {
	padding: 20px;

	.dash-block {
		margin-top: 20px;
		min-height: 200px;
		border-radius: 2px;
	}

	h2 {
		position: inherit;
		margin-top: 10px;
		top: 0;
		left: 0;
		color: #3F3F3F;
		font-size: em( 16px );
	}

	.quick-access {
		position: absolute;
		right: 20px;
		top: 27px;
		font-size: em(12px);
		color: #4A90E2;

		&:after {
			content: '';
			display: inline-block;
			background: url(ChevronBleuDroite.svg) no-repeat;
			height: 12px;
			width: 20px;
			vertical-align: middle;
			margin-left: 8px;
		}
	}

	.potential-visiters {

		article {
			background: #fff;
		}

		.review-offer a{
			color: #4A90E2;
			font-size: 0.57143em;
			position: absolute;
			top: 25px;
			right: 50px;
		}
	}

	.level {
		margin-top: 0;
		height: 140px;
		min-height: 0;

		.level-progress {
			margin-top: 30px;
			position: relative;
			background: #42A5F5;
			height: 6px;
			border-radius: 3px;
			z-index: 1;
		}

		ul {
			position: relative;
			width: 100%;
			background: #dadada;
			height: 6px;
			border-radius: 3px;
			margin-top: -6px;

			li {
				position: absolute;

				.circle {
					position: absolute;
					display: block;
					top: 50%;
					margin-top: -6px;
					background: #dadada;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					margin-left: -9px;
				}

				.text {
					position: absolute;
					display: block;
					margin-top: 25px;
					top: 70%;
					white-space: nowrap;
					transform: translate( -25% );
					text-align: center;
					font-size: em( 12px );
					color: #3F3F3F;
					margin-left: -9px;

					&:before {
						content: '';
						display: inline-block;
						width: 15px;
						height: 15px;
						vertical-align: middle;
						margin-right: 7px;
					}
				}

				&:first-child {
					left: 11%;
					.text:before { background: url(_noobie.svg) no-repeat; }
				}

				&:nth-child(2) {
					left: 37%;
					.text:before { background: url(_user.svg) no-repeat; }
				}

				&:nth-child(3) {
					left: 63%;
					.text:before { background: url(_power.svg) no-repeat; }
				}

				&:last-child {
					left: 89%;
					.text:before { background: url(_expert.svg) no-repeat; }
				}

			}
		}

		&.level-1 {
			.level-progress {
				width: 11%;
			}

			ul {
				li:first-child {
					.circle {
						background: #42A5F5;
					}
				}

				li:first-child {
					.text {
						color: #42A5F5;
						&:before { background: url(_noobie-blue.svg) no-repeat; }
					}
				}
			}
		}

		&.level-2 {
			.level-progress {
				width: 37%;
			}

			ul {
				li:first-child, li:nth-child(2) {
					.circle {
						background: #42A5F5;
					}
				}

				li:nth-child(2) {
					.text {
						color: #42A5F5;
						&:before { background: url(_user-blue.svg) no-repeat; }
					}
				}
			}
		}

		&.level-3 {
			.level-progress {
				width: 63%;
			}

			ul {
				li:first-child, li:nth-child(2), li:nth-child(3) {
					.circle {
						background: #42A5F5;
					}
				}

				li:nth-child(3) {
					.text {
						color: #42A5F5;
						&:before { background: url(_power-blue.svg) no-repeat; }
					}
				}
			}
		}

		&.level-4 {
			.level-progress {
				width: 100%;
			}

			ul {
				li:first-child, li:nth-child(2), li:nth-child(3), li:last-child {
					.circle {
						background: #42A5F5;
					}
				}

				li:last-child(3) {
					.text {
						color: #42A5F5;
						&:before { background: url(_expert-blue.svg) no-repeat; }
					}
				}
			}
		}
	}

	.account {
		float: left;
		width: calc( 33.33% - 10px );
		height: 335px;
		margin-right: 20px;

		h3 {
			color: #535353;
			font-size: em(12px);
			margin-top: 25px;
		}

		.stars {
			margin: 10px 0 80px;

			li {
				float: left;
				background: url(Star_Empty.svg) no-repeat;
				display: block;
				height: 30px;
				width: 30px;
				background-size: 30px;
				margin-right: 7px;
			}

			&.rating-1 {
				li:nth-child(1) {
				float: left;
				background: url(Star_Full.svg) no-repeat;
				display: block;
				height: 30px;
				width: 30px;
				background-size: 30px;
				}
			}

			&.rating-2 {
				li:nth-child(1), li:nth-child(2) {
				float: left;
				background: url(Star_Full.svg) no-repeat;
				display: block;
				height: 30px;
				width: 30px;
				background-size: 30px;
				}
			}

			&.rating-3 {
				li:nth-child(1), li:nth-child(2), li:nth-child(3) {
				float: left;
				background: url(Star_Full.svg) no-repeat;
				display: block;
				height: 30px;
				width: 30px;
				background-size: 30px;
				}
			}

			&.rating-4 {
				li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4) {
				float: left;
				background: url(Star_Full.svg) no-repeat;
				display: block;
				height: 30px;
				width: 30px;
				background-size: 30px;
				}
			}

			&.rating-5 {
				li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5) {
				float: left;
				background: url(Star_Full.svg) no-repeat;
				display: block;
				height: 30px;
				width: 30px;
				background-size: 30px;
				}
			}
		}

		.account-infos {
			float: left;
			margin-right: 40px;
			width: 88px;

			p {
				font-size: em(24px);
				color: #4A90E2;
				font-weight: 700;
				margin-top: 7px;
			}
		}
		.num-visit {

		}

		.account-balance {
			margin-right: 0;
		}

		.def-city {
			clear: left;

		}

		.alert-zone {
			margin-right: 0;
		}
	}

	.notifications {
		float: left;
		width: calc( 66.66% - 10px );
		height: 335px;
	}

	.dashboard-reports{
		padding-bottom: 20px;
	}

	.myvisits {
		background: #F7F7F7;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
		display: inline-block;
		vertical-align: top;
		padding: 10px 40px;
		margin-top: 20px;

		.confirmed-visit {
			background: #fff;
		}
	}
}