.single-form {
	box-sizing: border-box;
}

.visit {
	.wrapppper { padding-left: 110px; }
	
	article {
		background: #EEEEEE;
		box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
		margin: 10px 20px;
		padding: 20px;
		height: auto;
		width: 220px;
		display: inline-block;
		vertical-align: top;

		.mapbox {
			background: url(mapbox.png);
			position: relative;
			top: -20px;
			left: -20px;
			background-size: cover;
			width: 260px;
			height: 230px;
		}

		.adress {
			font-size: em(18px);
			color: #404040;
		}

		.infos {
			font-size: em(12px);
			color: #535353;
			float: left;
			margin: 14px 14px 25px 0;
			
			&:before {
				content: '';
				display: inline-block;
				height: 12px;
				width: 12px;
				vertical-align: middle;
				margin-right: 7px;
			}
			&.surface:before {
				background: url(_squarefeet.svg);
			}
			&.location:before {
				background: url(_distance.svg) no-repeat;
				background-position-y: 6px;
			}
			&.price:before {
				background: url(_pricetag.svg);
			}
		}

		.when {
			clear: left;
			border: 1px solid #42A5F5;
			border-radius: 2px;
			padding: 10px 0;
			font-size: em(12px);
			color: #42A5F5;
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;

			&:hover {
				color: $white;
				background:#42A5F5; 
			}
		}

		.visit-it-button {
			background: transparent;
			padding: 8px 52px;
			position: relative;
			top: -24px;
			color: transparent;

			&:hover {
				color: $white;
				background: #24A17F; 
				text-indent: 0;
				color: $white;
			}
		}

		.follow-people {
			font-size: em(14px);
			font-weight: 700;
			text-align: center;
			text-indent: -10px;
			color: #24A17F;
		}
	}
}

.check-it-out {
	background: #4A90E2;
	box-shadow: 0 1px 0 #3275AA;
	padding: 40px;
	margin: 0 0 40px 0;

	p {
		font-size: em(24px);
		color: $white;
		float: left;
	}

	a {
		padding: 10px 29px;
		background: $white;
		box-shadow: 0 2px 0 rgba(0, 0, 0, .25);
		position: relative;
		top: 7px;
		margin-left: 20px;
		color: #4A90E2;
		font-size: em(14px);
		text-transform: uppercase;
	}
}