<section class="home-section">
	<div class="home-container">
		<div class="wrap-home">
			<h1 class="logo">Hubiquity</h1>
			<h3>, your local advisor for appartments walk-throughs</h3>

			<form class="search-form" action="/search" role="search">
				<fieldset class="search-fieldset">
					<input type="text" title="adresse" placeholder="The address to visit" class="search-input search-place" onfocus="this.placeholder = ''" onblur="this.placeholder = 'L\'adresse a visiter'">
					<input type="text" title="date" placeholder="La date" class="search-input search-date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'The time'">
					<input type="text" title="heure" placeholder="L'heure" class="search-input search-hour" onfocus="this.placeholder = ''" onblur="this.placeholder = 'L\'heure'">
					<input type="text" title="superficie" placeholder="The surface area" class="search-input search-size" onfocus="this.placeholder = ''" onblur="this.placeholder = 'La superficie'">
				</fieldset>
				<button type="submit" class="search-submit">Find a visitor</button>
			</form>
		</div>
	</div>

	<div class="our-values">
		<h3>Finding your home from afar should be that easy</h3>

		<ul class="our-values-list">
			<li class="our-values-list-item">
				<h4>Guarantee of results</h4>
				<span>Only high-quality pictures &reports accepted</span>
			</li>
			<li class="our-values-list-item">
				<h4>100% trustworthy</h4>
				<span>Find your home led by the expertise of locals</span>
			</li>
			<li class="our-values-list-item">
				<h4>Getting rewarded</h4>
				<span>Earning money for knowing your neighborhood</span>
			</li>
		</ul>
	</div>
</section>