<section class="home">
	<div class="wrap-home">
		<h1 class="logo">Hubiquity</h1>
		<h3>, your local advisor for appartments walk-throughs</h3>

		<form class="search-form" action="/search" role="search">
			<input type="text" title="adresse" placeholder="L'adresse a visiter" class="search-input search-place" onfocus="this.placeholder = ''" onblur="this.placeholder = 'L\'adresse a visiter'"><span></span>
			<input type="date" title="date" placeholder="La date" class="search-input search-date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'La date'"><span></span>
			<input type="time" title="heure" placeholder="L'heure" class="search-input search-hour" onfocus="this.placeholder = ''" onblur="this.placeholder = 'L\'heure'"><span></span>
			<input type="text" title="superficie" placeholder="La superficie" class="search-input search-size" onfocus="this.placeholder = ''" onblur="this.placeholder = 'La superficie'">
			<button type="submit">Trouver</button>
		</form>
	</div>
</section>