html, body {
	font-size: $base-font-size;
	height: 100%;
	background: #e9eaed;
	font-family: "Lato", sans-serif;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	     -ms-font-smoothing: antialiased;
			     font-smoothing: antialiased;
}

p {
	font-size: 1.8em;
}

a {
	text-decoration: none;
	// &:hover { text-decoration: underline; }
}

em {
	position: absolute;
	top: 40px;
	right: 0;
}

input {
	border: 0;
	outline: none;
	&::-webkit-input-placeholder {
		font-size: em(16px);
		font-family: "Lato", sans-serif;
		font-weight: 400;
		color: $black;
	}

	&::-moz-placeholder { /* firefox 19+ */
		font-size: em(16px);
		font-family: "Lato", sans-serif;
		font-weight: 400;
		color: $black;
		text-transform: uppercase; 
	}
	
	&:-ms-input-placeholder { /* ie */
		font-size: em(16px);
		font-family: "Lato", sans-serif;
		font-weight: 400;
		color: $black;
		text-transform: uppercase;
	}
	
	&:-moz-placeholder {
		font-size: em(16px);
		font-family: "Lato", sans-serif;
		font-weight: 400;
		color: $black;
		text-transform: uppercase;
	}
}

.main {
	margin-top: -260px;
	min-height: 600px;
}

.alert { display: none; }

.clearfix {
	clear: both;
}


// add dashboard link in header
.back-to-dash {
	font: em(18px) "Lato", sans-serif;
	font-weight: 700;
	color: $white;
	position: absolute;
	top: 10px;
	margin-left: 200px;

	&:before {
		content: "";
		display: inline-block;
		height: 30px;
		width: 20px;
		background: url(arrow-left.svg) no-repeat;
		background-position-y: 18px;
	}
}

.text-wrap {
	background-color: #fff;
	max-width: 1155px;
	width: 100%;
	margin: 0 auto;
	height: 260px;
	border-bottom: 1px solid #D7D7D7;
	padding: 50px 90px;
	box-sizing: border-box;

	h1 {
		font: em(48px) "Lato", sans-serif;
		font-weight: 700;
		color: #3F3F3F;
	}

	p {
		font: em(18px) "Open Sans", sans-serif;
		color: #3F3F3F;
		line-height: 2.0em;
		margin-top: 30px;
		max-width: 550px;
	}
}

// contains main content
.wrapppper {
	position: relative;
	min-height: 600px;
	padding: 50px 90px;
	margin: 0 0 0 0;
	background: #FFF;
	box-sizing: border-box;

	.page-title {
		font: em(20px) "Lato", sans-serif;
		position: absolute;
		top: -35px;
		left: 0;
		color: $white;
	}

	h2 {
		position: relative;
		top: -38px;
		font: em(32px) "Lato", sans-serif;
		font-weight: 700;
		color: #42A5F5;
		left: 45px;
	}

	form {
		input, label {
			font-family:"Lato", sans-serif;
			font-weight: 400;
			color: $black;
			font-size: em(26px);
		}

		input:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px white inset;
			color: red !important;
		}

		.remember-me {
			margin: -30px 0 20px 0;
			position: relative;
			z-index: 100;

			label {
				font-size: em(18px);
				color: #000;
			}
		}
	}
}

.dash-block {
	position: relative;
	background: #F7F7F7 ;
	padding: 10px 40px;
	box-sizing: border-box;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}

/* Hexa form */
// blue shape before form titles
.hexagon {
	position: relative;
	width: 33px; 
	height: 19.05px;
	background-color: #4A90E2;
	margin: 9.53px 0;

    span {
		font: em(20px) "Lato", sans-serif;
		font-weight: 700;
		color: $white;
		position: absolute;
		top: -4px;
		left: 11px;
    }
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 17.5px solid transparent;
    border-right: 16.5px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 9.53px solid #4A90E2;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 9.53px solid #4A90E2;
}
/* end hexa form */


/* form style */
.text-field {
	position: relative;
	display: block;
	height: 100px;
	margin-bottom: 20px;

	input{
		-webkit-appearance: none;
		outline: none;
		border: none;
		width: 100%;
		margin-bottom: 8px;
		padding: 8px 4px;
		position: relative;
		z-index: 3; 
		background-color: transparent;
		border-bottom: 1px solid #D7D7D7;
		color: $black;
	}

	.label-helper {
		font: em(16px) "Lato", sans-serif;
		font-weight: 700;
		color: #4A90E2;
		position: absolute;
		opacity: 0;
		transition: .2s opacity;
		top: -20px;
		left: 0;
		z-index: 1; 

		&.visible {
			opacity: 1;
		}
	}

	input:focus + .label-helper {
		opacity: 1; 
		z-index: 10;
	}

	textarea {
		width: 100%;
		height: 80px;
	}
}

// add img
.avatar-field {
	margin-bottom : 40px;

	.avatar-upload {
		display: block;
	}

	.label-helper {
		font: em(18px) "Lato", sans-serif;
		font-weight: 700;
		color: #4A90E2;
		margin-bottom: 10px
	}

	input {
		font-size: 1em !important;
		margin: 10px 0;
	}
}

// once field is completed
.field-complete {
	input {
		// box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
		background-color: #fafafa; 
		border-bottom: 2px solid $light-blue;
	}

	.label-helper { opacity: 1; z-index: 10; }
}

// put time on right side
.time {
	position: relative;
	top: -63px;
	text-align: right;
}

.date {
	position: relative !important;
	width: 70% !important;
	z-index: 20 !important;
}

.request {
	input { 
		cursor: pointer;
		text-align: center;
		text-transform: uppercase;
		display: block;
		background: #42A5F5;
		padding: 10px 40px;
		font-size: em(14px) !important;
		font-weight: 700;
		width: 290px;
		height: 90px;
		margin-bottom: 10px;
		color: $white !important;
		box-shadow: #3275AA 0px 2px 0px;
		border-radius: 3px;

		&:hover { background: #3275AA; }
	}
}
/* end form style */


.shared-link {
	margin: -55px 0 0px 170px;

	a {
		text-align: center;
		text-transform: uppercase;
		display: block;
		background: #28B28D;
		padding: 15px 40px 10px;
		font: em(12px) "Lato", sans-serif;
		font-weight: 700;
		width: 55px;
		height: 20px;
		margin-bottom: 10px;
		color: #FBFBFB;
		box-shadow: #24A17F 0px 2px 0px;
		border-radius: 3px;

		&:hover { background: #24A17F; }
	}

	.forgot-pass { 
		background: #B2435B; box-shadow: #96394C 0px 2px 0px;
		padding-top: 10px;
		height: 25px;
		margin: -69px 0 0 170px;
		&:hover { background: #96394C; }
	}
}

.action {
	a {
		height: 10px;
		width: 20px;
		cursor: pointer;
		text-align: center;
		text-transform: uppercase;
		display: inline-block;
		padding: 10px 40px;
		font: em(10px) "Lato", sans-serif !important;
		font-weight: 700;
		margin-bottom: 10px;
		border-radius: 3px;
		margin-right: 10px;
		color: $white !important;
		position: absolute;
		bottom: 0;
	}

	a.accept-visit-button {
		background: #42A5F5;
		box-shadow: #3275AA 0px 2px 0px;
		bottom: 5px;
		text-indent: -10px;
		&:hover { 
			background: #3275AA !important;
		}
	}

	a.refuse-visit-button {
		bottom: 5px;
		margin-left: 110px;
		text-indent: -1px;
		background: #FF576C; 
		box-shadow: #D0021B 0px 2px 0px;

		&:hover { 
			background: #D0021B; 
		}
	}
}

.actions-button {
		height: 25px;
		width: 55px;
		cursor: pointer;
		text-align: center;
		text-transform: uppercase;
		display: inline-block;
		padding: 10px 40px;
		font: em(9px) "Lato", sans-serif !important;
		font-weight: 700;
		margin-bottom: 10px;
		border-radius: 3px;
		margin-right: 10px;
		color: $white !important;
		background: #42A5F5;
		box-shadow: #3275AA 0px 2px 0px;

		input {
			background: transparent;
			color: $white !important;
		}
}

.potential-visiters {
	article {
		height: 280px;
		width: 206px;
		background: #F7F7F7;
		box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
		margin-top: 65px;
		padding: 0 12px;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		position: relative;
		float: left;
		margin-right: 20px;

		.polymask {
			-webkit-mask-image: url("polymask_big.svg");
			height: 60px;
			width: 60px;
			margin: 0;
			position: relative;
			top: -30px;
			left: 50%;
			margin-left: -30px;
		}

		.name-visitor {
			font-size: em(16px);
			font-weight: 700;
			color: #3F3F3F;
			opacity: .8;
		}

		.ratings {
			font-size: em(12px);
			color: #3F3F3F;
			margin-top: 6px;
		}

		.title {
			font-size: em(10px);
			color: #9C9C9C;
			margin-top: 15px;
			display: block;
			text-indent: -10px;
			margin-bottom: 5px;
		}

		.where-to, .when {
			font-size: em(14px);
			color: #3F3F3F;
			padding: 10px;
			font-weight: 700;
		}

		.actions-button {
			cursor: pointer;
			text-align: center;
			text-transform: uppercase;
			display: inline-block;
			padding: 10px 40px;
			font: em(9px) "Lato", sans-serif !important;
			font-weight: 700;
			height: 25px;
			width: 55px;
			margin-bottom: 10px;
			border-radius: 3px;
			margin-right: 10px;
			text-indent: -5px;

			.accept-visit-button {
				background: #42A5F5;
				box-shadow: #3275AA 0px 2px 0px;
				&:hover { background: #3275AA !important; }
			}

			.refuse-visit-button {
				background: #FF576C; 
				box-shadow: #D0021B 0px 2px 0px;
				&:hover { background: #D0021B; }
			}
		}
	}
}

.myvisits-all {
	margin-top: 50px;
	float: left;
	clear: left;
}