.side-menu {
	font-family: "Lato", sans-serif;
	
	li {
		margin-top: 10px;
		font-size: em(14px);

		a {
			color: $white;
			text-decoration: none;
		}

		&:first-child {
			font-size: em(20px);
			margin-top: inherit;
			margin-bottom: 20px;
			&:hover { &:before { content: ""; padding-right: 0; } }
		}

		&:last-child {
			font-weight: 700;
			font-size: em(16px);
			margin-top: 20px;
			&:hover { &:before { content: ""; padding-right: 0; } }
		}

		&:hover {

			&:before {
				content: "•";
				color: $white;
				padding-right: 5px;
			}
		}
	}
}

.req-visits {
	margin-top: 180px;

	a {
		text-align: center;
		text-transform: uppercase;
		display: block;
		background: #42A5F5;
		padding: 10px 40px;
		font: em(12px) "Lato", sans-serif;
		font-weight: 700;
		width: 95px;
		height: 15px;
		margin-bottom: 10px;
		color: $white;
		box-shadow: #3275AA 0px 2px 0px;
		border-radius: 3px;

		&:hover { background: #3275AA; }
	}
}